html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
figcaption,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

input {
  border-radius: 0px;
  -webkit-appearance: none;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --White: #FFF;
  --Black: #020002;
  --Blue-light: #DDE7F8;
  --Blue: #344e9b;
  --Blue-dark: #003466;
  --Grey: #666F78;

  /* Text */
  --White---text: #FFF;
  --Blue---text: #344E9B;
  --text---Blue: #0D74D3;
  --Grey---text: #666F78;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 83px;
  font-weight: 400;
  line-height: 101px; /* 121.687% */
}

h2 {
  font-weight: 400;
  font-size: 59px;
  line-height: 68px;
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

h5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
}

.main_text {
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 800px) {
  h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
  }
  
  h3 {
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
  }
  
  h4 {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
  }
  
  h5 {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
  }
  
  .main_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  
  .text {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
}

.transparent_btn {
  background: none;
  border: none;
  padding: 0;
}

.link_with_arrow {
  display: flex;
  align-items: center;
  color: var(--Black---text);
  gap: 14px;
  text-decoration: none;
}

header .header-wrap {
  max-width: 1675px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

header .display {
  display: grid;
  grid-template-columns: 865px 1fr;
  align-items: center;
}

header .top {
  width: 100%;
  background-color: var(--Blue-dark);
}

header .top .header-wrap {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--White---text);
}

header .top .left {
  display: flex;
  gap: 50px;
}

header .top .right {
  display: flex;
  align-items: center;
  gap: 30px;
}

header .top .link {
  color: var(--White);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.top .location_picker {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--White);
}

header .top .search_wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

header .top .search_wrap .search {
  background: none;
  border: none;
  text-align: right;
}

header .top .search_wrap .search::placeholder {
  color: var(--White);
}

header .bottom {
  background: rgba(3, 14, 41, 0.5);
}

header .bottom .list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

header .bottom .list a {
  color: var(--White---text, #FFF);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
}

header .bottom .header-wrap {
  padding-top: 21px;
  padding-bottom: 21px;
}

.index_top {
  width: 100%;
}

.index_top header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.index_top .top_content {
  width: 100%;
  height: 1000px;
  display: flex;
  /* overflow: hidden; */
}

.index_top .top_content .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-wrap {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.outer-wrap {
  max-width: 1866px;
  padding-left: 27px;
  padding-right: 27px;
  margin-left: auto;
  margin-right: auto;
}

.index_products {
  margin-top: 148px;
  margin-bottom: 147px;
  display: flex;
  flex-direction: column;
}

.index_products .top {
  display: flex;
  justify-content: space-between;
}

.index_products .top .main_text {
  max-width: 640px;
  margin-top: 8px;
}

.index_products .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 98px 16px;
}

.index_products .more_btn {
  color: var(--White---text);
  background-color: var(--Blue-dark);
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.index_products .products .product {
  color: var(--Black);
  text-decoration: none;
  border-bottom: 3px solid var(--Blue-light, #DDE7F8);
}

.index_products .products .product .img {
  height: 450px;
  width: 100%;
  object-fit: contain;
}

.index_products .products .product .bottom {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 28px;
}

.index_products .products .product .bottom .arrow_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--Blue-dark);
  border-radius: 100%;
}

.request_box {
  background-color: var(--Blue);
  color: var(--White---text);
  border-radius: 27px;
}

.request_box  .request_initial {
  display: flex;
  padding-top: 88px;
}

.request_box  .request_initial .img {
  width: 640px;
  height: 510px;
  object-fit: cover;
  margin-left: auto;
}

.request_box  .request_initial .left {
  display: flex;
  flex-direction: column;
}

.request_box  .request_initial .show_form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--Blue---text);
  background-color: var(--White);
  border: none;
  border-radius: 40px;
  padding: 15px;
  width: 360px;
  margin-top: auto;
  margin-bottom: 98px;
}

.request_box .request_form {
  display: flex;
  padding-top: 98px;
  padding-bottom: 98px;
}

.request_box .request_form .form_back {
  height: fit-content;
  position: absolute;
  right: 95px;
  top: 98px;
}

.request_box .request_form .right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.request_box .request_form h3 {
  flex-shrink: 0;
  margin-right: 50px;
}

.request_box .request_form .input {
  background: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--text---Blue, #0D74D3);
  outline: none;
  color: var(--White);
  transition: border 0.1s;
}

.request_box .request_form .input::placeholder {
  color: var(--White);
}

.request_box .request_form .input:focus {
  border-bottom: 1px solid var(--Blue-light, #0D74D3);
}

.request_box .request_form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 59px 160px;
}

.request_box .file {
  display: none;
}

.request_box .request_form .file_lable {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--text---Blue, #0D74D3);
  margin-top: 59px;
}

.request_box .request_form .file_lable:active {
  border-bottom: 1px solid var(--Blue-light, #0D74D3);
}

.request_box .request_form .submit {
  width: 100%;
  border: none;
  background-color: var(--White);
  color: var(--Blue---text, #344E9B);
  padding: 15px 0;
  border-radius: 40px;
  margin-top: 61px;
}

.checkbox_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox_wrap .input {
  display: none;
}

.checkbox_wrap .box {
  height: 20px;
}

.checkbox_wrap .box .check {
  display: none;
}

.checkbox_wrap .input:checked + .box .check {
  display: block;
}

.request_box .request_form .checkbox_wrap {
  margin-top: 10px;
}

.index_today {
  margin-top: 98px;
  display: flex;
  gap: 100px;
}

.index_today .heading {
  flex-shrink: 0;
}

.index_today .blocks {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.index_today .block {
  display: grid;
  grid-template-columns: 23px 1fr;
  gap: 11px;
}

.index_today .block .section_heading {
  margin-bottom: 18px;
}

.index_today .block .counter {
  text-align: right;
  margin-top: 8px;
  color: var(--Black---text, #020002);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.index_today .block .link_with_arrow {
  margin-top: 18px;
}

.index_advantages {
  margin-top: 159px;
  display: flex;
}

.index_advantages .img {
  width: 826px;
  height: 880px;
  border-radius: 27px;
  object-fit: cover;
}

.index_advantages .right {
  max-width: 640px;
  margin-left: 187px;
}

.index_advantages .slides .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index_advantages .right .top .heading {
  margin-bottom: 27px;
  margin-top: 74px;
}

.index_advantages .right .top .main_text {
  margin-bottom: 168px;
}

.index_advantages .slides .buttons {
  display: flex;
  align-items: center;
  gap: 45px;
}

.index_advantages .slides .top {
  margin-bottom: 29px;
}

.index_advantages .slides .top .counter {
  font-family: Inter;
  font-size: 16.207px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--Grey---text, #666F78);
}

.index_advantages .slides .top .counter .swiper-pagination-current {
  color: var(--Blue-dark, #003466);
}

.index_advantages .slides .card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 100%;
}

.index_advantages .slides .card .link_wrap {
  margin-top: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.index_advantages .slides .swiper-slide{
  height: auto;
}

.index_dealers {
  margin-top: 182px;
  margin-bottom: 200px;
}

.index_dealers .selectors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.index_dealers .selectors .selector_btn {
  border-bottom: 1px solid var(--Blue-light, #DDE7F8);
  text-align: left;
  padding-bottom: 20px;
}

.index_dealers .selectors .selector_btn h3 {
  opacity: 0.2;
}

.index_dealers .selectors .selector_btn.__active {
  border-bottom: 3px solid var(--Blue-light, #DDE7F8);
}

.index_dealers .selectors .selector_btn.__active h3 {
  opacity: 1;
}

.index_dealers .display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.index_dealers .table_top {
  margin-top: 99px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--Blue-light, #DDE7F8);
}

.index_dealers .dealer_line {
  padding-top: 49px;
  border-bottom: 1px solid var(--Blue-light, #DDE7F8);
  height: 196px;
  box-sizing: border-box;
  width: 100%;
}

.index_dealers .dealer_line .content .representative {
  color: var(--Black---text, #020002);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.413px;
  margin-bottom: 4px;
}

.index_dealers .dealer_line .content .link {
  display: block;
  color: var(--Black---text);
  text-decoration: none;
}

.index_dealers .hidden {
  display: none;
}

.index_dealers .hidden.__open {
  display: block;
}

.dealer_list {
  display: flex;
  flex-direction: column;
}

.index_dealers .more_btn {
  background-color: var(--Blue-dark);
  color: var(--White---text);
  padding: 15px 50px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
  border: none;
}

.index_dealers .more_btn.__hidden {
  display: none;
}

.index_dealers .dealers_slider .swiper_slide {
  width: 100%;
  /* height: 196px; */
}

.index_dealers .slider_wrapper .dealers_slider {
  height: 587px;
}

/* .dealers_slider_wrap .pagination .numbers .page_btn */

.dealers_slider_wrap {
  display: block;
  align-items: center;
  flex-direction: column;
}

.dealers_slider_wrap .pagination {
  margin-top: 49px;
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: center;
}

.dealers_slider_wrap .pagination .numbers {
  display: flex;
  align-items: center;
  gap: 18px;
}

.dealers_slider_wrap .pagination .numbers .page_btn {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dealers_slider_wrap .pagination .numbers .page_btn.__active {
  background-color: var(--Blue-dark);
  color: var(--White---text);
  border-radius: 100%;
}

.request_initial.__coop {
  gap: 20px;
}

.request_initial.__coop .right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 7px;
  padding-bottom: 98px;
}

.request_initial.__coop .right .block {
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 3px solid var(--White---text);
  transition: border 0.3s;
  min-width: 295px;
}

.request_initial.__coop .right .block.__wide {
  grid-column: 1/3;
}

.request_initial.__coop .right .block .hover_text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Blue);
  right: 0;
  color: var(--White---text, #FFF);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: inherit;
  padding-left: 14px;
  box-sizing: border-box;
}

.request_initial.__coop .right .block:hover .hover_text {
  opacity: 1;
}

.request_initial.__coop .right .block:hover {
  border-left: 6px solid var(--White---text);
}

.request_box .request_initial.__coop .show_form {
  margin-top: 80px;
  margin-bottom: 0;
}

.request_box .request_form h3 {
  max-width: 480px;
}

.index_press {
  margin-top: 206px;
}

.index_press .top {
  display: flex;
  justify-content: space-between;
}

.index_press .top .main_text {
  max-width: 640px;
  margin-top: 8px;
}

.index_press .links {
  display: flex;
  justify-content: space-between;
}

.index_press .links .link {
  color: var(--White---text);
  background-color: var(--Blue-dark);
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 40px;
  margin-top: 98px;
}

.index_press .index_news_slider {
  margin-top: 98px;
  margin-bottom: 98px;
}

.index_news_slider .swiper-wrapper {
  padding-bottom: 2px;
}

.index_news_slider .swiper-slide {
  height: auto;
}

.index_news_slider .news_card {
  border: 1px solid var(--Blue-light);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index_news_slider .news_card .img {
  width: 100%;
  height: 242px;
  object-fit: cover;
}

.index_news_slider .news_card .bottom {
  padding: 49px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index_news_slider .news_card .title {
  color: var(--Black---text);
  text-decoration: none;
  margin-bottom: 102px;
  display: block;
}

.index_news_slider .news_card .data {
  margin-top: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.index_news_slider .news_card .data .time {
  color: var(--Grey---text);
}

.index_press .slider_wrap {
  position: relative;
}

.index_press .slider_wrap .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.index_press .slider_wrap .nav.prev {
  left: -21px;
}

.index_press .slider_wrap .nav.next {
  right: -21px;
}